<nav class="navbar" style="background-color: #191970;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary x ">
      <div class="container-fluid x">
        <a class="navbar-brand" routerLink="/landing component" style="color: white;" >Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="view-orders" style="color: white;">View All Orders Placed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="view-order-info" style="color:white;">View Order Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="place-order"style="color:white;">Place Order</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
</nav>

<router-outlet></router-outlet>

<footer >
  <p>&copy; 2024 FieryRestaurant</p>
</footer> 
